@model SinhVien
<h2>Thêm Sinh viên mới</h2>
<form method="post">
    <input id ="tenSV" name ="tenSV" type ="text" placeholder="Tên sinh viên">
    <input id ="tuoi" name ="tuoi" type ="text" placeholder="Tuoi">
    <button type="submit">Thêm</button>
</form>