@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    @* 1. Tạo kết nối
    2. Lắng "nghe sự kiện từ ReceiveMessage"
    3. kết nối
    4. Hàm gửi message *@
    const connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.on("ReceiveMessage",function(user, message){
        const noti = document.createElement("p");
        noti.innerHTML = `${user} : ${message}`
        const messageBox = document.getElementById("messageBox");
        messageBox.appendChild(noti);
    });
    connection.start().catch(function(err){
        return console.error(err.toString());
    });
    function sendMessage(){
        const user = document.getElementById("user").value;
        const message = document.getElementById("message").value;
        connection.invoke("SendMessage", user, message).catch(function(err){
            return console.error(err.toString());
        });
    }

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Gửi thông báo</h3>
    <input type="text" id="user" placeholder="Tên người gửi" />
    <input type="text" id="message" placeholder="Nội dung thông báo" />
    <button onclick="sendMessage()">Gửi</button>
    <h4>Thông báo được gửi đi</h4>
    <div id="messageBox"></div>
</div>
